.test {
    display: inline-block;
    height: 800px;
    width: 300px;
    background-color: red;
}
.lesson {
    display: inline-block;
    height: 500px;
    width: 500px;
    background-color: black;
}
